**Automate repeating tasks using Python “for” loops.**

In [23]:
weekdays = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']
for days in weekdays:
    print(days)

monday
tuesday
wednesday
thursday
friday

In [24]:
age = 10
every5year = list(range(0,80,5))
for year in every5year:
    age = age + 5
    print(age)

15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90

In [25]:
print(every5year)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75]

In [26]:
every5year = list(range(0,80,5))
for age in every5year:
    if age <= 25:
        print('I AM STILL YOUNG!')
    elif age <= 50:
        print('Am I still counted as young?')
    elif age <= 70:
        print('I am definitely old.')
    else :
        print('Oh God I dont wanna die.')

I AM STILL YOUNG!
I AM STILL YOUNG!
I AM STILL YOUNG!
I AM STILL YOUNG!
I AM STILL YOUNG!
I AM STILL YOUNG!
Am I still counted as young?
Am I still counted as young?
Am I still counted as young?
Am I still counted as young?
Am I still counted as young?
I am definitely old.
I am definitely old.
I am definitely old.
I am definitely old.
Oh God I dont wanna die.

In [27]:
def what_people_think(age):
    if age <= 25:
        return 'I AM STILL YOUNG!'
    elif age <= 50:
        return 'Am I still counted as young?'
    elif age <= 70:
        return 'I am definitely old.'
    else :
        return 'Oh God I dont wanna die.'

In [28]:
what_people_think(19)

'I AM STILL YOUNG!'

In [29]:
what_people_think(28)

'Am I still counted as young?'

In [30]:
what_people_think(70)

'I am definitely old.'

In [31]:
what_people_think(78)

'Oh God I dont wanna die.'

In [32]:
every5year

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75]

**Break up work into smaller components using Python functions.**

In [33]:
for age in every5year:
    print('Most probably have a good health condition at', age)
    if age > 40:
        print('Should start to visit the doctor regularly after', age+1)
        break

Most probably have a good health condition at 0
Most probably have a good health condition at 5
Most probably have a good health condition at 10
Most probably have a good health condition at 15
Most probably have a good health condition at 20
Most probably have a good health condition at 25
Most probably have a good health condition at 30
Most probably have a good health condition at 35
Most probably have a good health condition at 40
Most probably have a good health condition at 45
Should start to visit the doctor regularly after 46

**Use Python “lists” and “dictionaries” appropriately. Demonstrate one of the two.**

## Dictionary

In [34]:
emergency = {'Emergency' :39.5, 'Above Normal' : 37.7, 'Normal' : 35.7, 'Below Normal': 35}

In [35]:
def emergency_check(fever, emergency_dict):
    for number in emergency_dict:
        if fever >= emergency_dict[number]: 
            return number

In [36]:
emergency_check(39.8, emergency)

'Emergency'

In [37]:
emergency_check(38, emergency)

'Above Normal'

In [38]:
emergency_check(36, emergency)

'Normal'

In [39]:
emergency_check(35.5, emergency)

'Below Normal'

## Doing the same process with the dataset

**Automate repeating tasks using Python “for” loops. Break up work into smaller components using Python functions.**

In [19]:
import pandas as pd

In [41]:
lyrics_data = pd.read_csv('lyrics-data.csv')

In [43]:
artists_data = pd.read_csv('artists-data.csv')

In [44]:
lyrics_data

,ALink,SName,SLink,Lyric,Idiom
0,/10000-maniacs/,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH
1,/10000-maniacs/,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH
2,/10000-maniacs/,These Are Days,/10000-maniacs/these-are-days.html,These are. These are days you'll remember. Nev...,ENGLISH
3,/10000-maniacs/,A Campfire Song,/10000-maniacs/a-campfire-song.html,"A lie to say, ""O my mountain has coal veins an...",ENGLISH
4,/10000-maniacs/,Everyday Is Like Sunday,/10000-maniacs/everyday-is-like-sunday.html,Trudging slowly over wet sand. Back to the ben...,ENGLISH
...,...,...,...,...,...
209517,/zeca-pagodinho/,Vou Botar Teu Nome Na Macumba,/zeca-pagodinho/vou-botar-teu-nome-na-macumba....,Eu vou botar teu nome na macumba. Vou procurar...,PORTUGUESE
209518,/zeca-pagodinho/,Vou Procurar Esquecer,/zeca-pagodinho/vou-procurar-esquecer.html,Vou procurar um novo amor na minha vida. Porqu...,PORTUGUESE
209519,/zeca-pagodinho/,Vou Ver Juliana,/zeca-pagodinho/vou-ver-juliana.html,Quando a mare vazá. Vou vê juliana. Vou vê jul...,PORTUGUESE
209520,/zeca-pagodinho/,Yaô Cadê A Samba / Outro Recado / Hino,/zeca-pagodinho/yao-cade-a-samba-outro-recado-...,"Ô Yaô. Yaô, cadê a samba?. Está mangando na cu...",PORTUGUESE
209521,/zeca-pagodinho/,"Zeca, Cadê Você?",/zeca-pagodinho/zeca-cade-voce.html,"Ô, Zeca, tu tá morando onde?. Ô, Zeca, tu tá m...",PORTUGUESE

In [45]:
artists_data

,Artist,Songs,Popularity,Link,Genre,Genres
0,10000 Maniacs,110,0.3,/10000-maniacs/,Rock,Rock; Pop; Electronica; Dance; J-Pop/J-Rock; G...
1,12 Stones,75,0.3,/12-stones/,Rock,Rock; Gospel/Religioso; Hard Rock; Grunge; Roc...
2,311,196,0.5,/311/,Rock,Rock; Surf Music; Reggae; Ska; Pop/Rock; Rock ...
3,4 Non Blondes,15,7.5,/4-non-blondes/,Rock,Rock; Pop/Rock; Rock Alternativo; Grunge; Blue...
4,A Cruz Está Vazia,13,0.0,/a-cruz-esta-vazia/,Rock,Rock
...,...,...,...,...,...,...
3237,Péricles,102,6.8,/pericles/,Samba,Romântico; Pagode; Samba; Sertanejo; Samba Enr...
3238,Rodriguinho,106,2.7,/rodriguinho/,Samba,Romântico; Pagode; Samba; Country; Hardcore; T...
3239,Sambô,71,0.8,/sambo/,Rock,Samba; Pagode; Rock; Pop/Rock; Soul Music; Cla...
3240,Thiaguinho,143,13.8,/thiaguinho/,Samba,Pagode; Romântico; Samba; Trilha Sonora; Black...
3241,Turma do Pagode,182,11.7,/turma-do-pagode/,Samba,Romântico; Pagode; Samba; Sertanejo; Funk Cari...

In [46]:
score = artists_data['Popularity']
def popular_artist(score):
    if score <= 2.0:
        return 'Not popular'
    elif score <6 :
        return 'Average'
    elif score < 15:
        return 'Popular'
    else :
        return 'Superstar'

In [47]:
popular_artist(1.5)

'Not popular'

In [48]:
popular_artist(40)

'Superstar'

In [49]:
popular_artist(40)

'Superstar'

In [50]:
list_songs = artists_data['Songs']
for song in list_songs[0:100:1]:
    print('Songs with higher number than 13', song)
    if song <= 12:
        print('First song which has a number than 13',song)
        break

Songs with higher number than 13 110
Songs with higher number than 13 75
Songs with higher number than 13 196
Songs with higher number than 13 15
Songs with higher number than 13 13
Songs with higher number than 13 36
Songs with higher number than 13 36
Songs with higher number than 13 13
Songs with higher number than 13 192
Songs with higher number than 13 0
First song which has a number than 13 0

In [51]:
for song in list_songs[0:100:5]:
    print('Songs with higher number than 13', song)
    if song <= 12:
        print('First song which has a number than 13',song)
        break

Songs with higher number than 13 110
Songs with higher number than 13 36
Songs with higher number than 13 5
First song which has a number than 13 5

In [52]:
print(lyrics_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209522 entries, 0 to 209521
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ALink   209522 non-null  object
 1   SName   209522 non-null  object
 2   SLink   209522 non-null  object
 3   Lyric   209484 non-null  object
 4   Idiom   206375 non-null  object
dtypes: object(5)
memory usage: 8.0+ MB
None

In [53]:
print(lyrics_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209522 entries, 0 to 209521
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ALink   209522 non-null  object
 1   SName   209522 non-null  object
 2   SLink   209522 non-null  object
 3   Lyric   209484 non-null  object
 4   Idiom   206375 non-null  object
dtypes: object(5)
memory usage: 8.0+ MB
None

- Dropping the unnecessary values

In [54]:
lyrics_data.drop(['SName', 'SLink'], axis=1, inplace=True)

In [55]:
artists_data.drop(['Genres'], axis=1, inplace=True)

In [56]:
artists_data.drop(['Genres'], axis=1, inplace=True)

KeyError: "['Genres'] not found in axis"

- Dropping the duplicates

In [57]:
artists_data = artists_data.drop_duplicates(['Artist'])

artists_data.shape

(2940, 5)

- Prepare the data for merge. They have the common column but with different column names. It is "ALink" column in lyrics_data while it "Link" in artists_data. Therefore, "ALink"  is changed as "Link" to be able to use "merge".

In [58]:
lyrics_data = lyrics_data.rename(columns = {"ALink":"Link"})

- Then, merge on Link is used by the right side.

In [59]:
data = pd.merge(lyrics_data, artists_data, on = 'Link', how = 'right')

In [60]:
data

,Link,Lyric,Idiom,Artist,Songs,Popularity,Genre
0,/10000-maniacs/,I could feel at the time. There was no way of ...,ENGLISH,10000 Maniacs,110,0.3,Rock
1,/10000-maniacs/,"Take me now, baby, here as I am. Hold me close...",ENGLISH,10000 Maniacs,110,0.3,Rock
2,/10000-maniacs/,These are. These are days you'll remember. Nev...,ENGLISH,10000 Maniacs,110,0.3,Rock
3,/10000-maniacs/,"A lie to say, ""O my mountain has coal veins an...",ENGLISH,10000 Maniacs,110,0.3,Rock
4,/10000-maniacs/,Trudging slowly over wet sand. Back to the ben...,ENGLISH,10000 Maniacs,110,0.3,Rock
...,...,...,...,...,...,...,...
202139,/madd-jay/,NaN,NaN,Madd Jay,0,0.0,Hip Hop
202140,/money-talks-records/,NaN,NaN,Money Talks Records,0,0.0,Hip Hop
202141,/triinko/,NaN,NaN,Triinko,0,0.0,Hip Hop
202142,/venark-oficial/,NaN,NaN,VenarK Oficial,0,0.0,Hip Hop
202143,/roberto-amaro-bento/,NaN,NaN,Roberto Amaro Bento,0,0.0,Funk Carioca

In [61]:
print (data.isnull().sum())

Link             0
Lyric           84
Idiom         3099
Artist           0
Songs            0
Popularity       0
Genre            0
dtype: int64

In [62]:
data.dropna()

,Link,Lyric,Idiom,Artist,Songs,Popularity,Genre
0,/10000-maniacs/,I could feel at the time. There was no way of ...,ENGLISH,10000 Maniacs,110,0.3,Rock
1,/10000-maniacs/,"Take me now, baby, here as I am. Hold me close...",ENGLISH,10000 Maniacs,110,0.3,Rock
2,/10000-maniacs/,These are. These are days you'll remember. Nev...,ENGLISH,10000 Maniacs,110,0.3,Rock
3,/10000-maniacs/,"A lie to say, ""O my mountain has coal veins an...",ENGLISH,10000 Maniacs,110,0.3,Rock
4,/10000-maniacs/,Trudging slowly over wet sand. Back to the ben...,ENGLISH,10000 Maniacs,110,0.3,Rock
...,...,...,...,...,...,...,...
202091,/zeca-pagodinho/,Eu vou botar teu nome na macumba. Vou procurar...,PORTUGUESE,Zeca Pagodinho,309,13.2,Samba
202092,/zeca-pagodinho/,Vou procurar um novo amor na minha vida. Porqu...,PORTUGUESE,Zeca Pagodinho,309,13.2,Samba
202093,/zeca-pagodinho/,Quando a mare vazá. Vou vê juliana. Vou vê jul...,PORTUGUESE,Zeca Pagodinho,309,13.2,Samba
202094,/zeca-pagodinho/,"Ô Yaô. Yaô, cadê a samba?. Está mangando na cu...",PORTUGUESE,Zeca Pagodinho,309,13.2,Samba
202095,/zeca-pagodinho/,"Ô, Zeca, tu tá morando onde?. Ô, Zeca, tu tá m...",PORTUGUESE,Zeca Pagodinho,309,13.2,Samba

In [63]:
data

,Link,Lyric,Idiom,Artist,Songs,Popularity,Genre
0,/10000-maniacs/,I could feel at the time. There was no way of ...,ENGLISH,10000 Maniacs,110,0.3,Rock
1,/10000-maniacs/,"Take me now, baby, here as I am. Hold me close...",ENGLISH,10000 Maniacs,110,0.3,Rock
2,/10000-maniacs/,These are. These are days you'll remember. Nev...,ENGLISH,10000 Maniacs,110,0.3,Rock
3,/10000-maniacs/,"A lie to say, ""O my mountain has coal veins an...",ENGLISH,10000 Maniacs,110,0.3,Rock
4,/10000-maniacs/,Trudging slowly over wet sand. Back to the ben...,ENGLISH,10000 Maniacs,110,0.3,Rock
...,...,...,...,...,...,...,...
202139,/madd-jay/,NaN,NaN,Madd Jay,0,0.0,Hip Hop
202140,/money-talks-records/,NaN,NaN,Money Talks Records,0,0.0,Hip Hop
202141,/triinko/,NaN,NaN,Triinko,0,0.0,Hip Hop
202142,/venark-oficial/,NaN,NaN,VenarK Oficial,0,0.0,Hip Hop
202143,/roberto-amaro-bento/,NaN,NaN,Roberto Amaro Bento,0,0.0,Funk Carioca

And there are missing values. We can solve this problem by using the below code.

In [64]:
options = ['ENGLISH'] 
  
# selecting rows based on condition 
data_new = data[data['Idiom'].isin(options)]

In [65]:
data_new

,Link,Lyric,Idiom,Artist,Songs,Popularity,Genre
0,/10000-maniacs/,I could feel at the time. There was no way of ...,ENGLISH,10000 Maniacs,110,0.3,Rock
1,/10000-maniacs/,"Take me now, baby, here as I am. Hold me close...",ENGLISH,10000 Maniacs,110,0.3,Rock
2,/10000-maniacs/,These are. These are days you'll remember. Nev...,ENGLISH,10000 Maniacs,110,0.3,Rock
3,/10000-maniacs/,"A lie to say, ""O my mountain has coal veins an...",ENGLISH,10000 Maniacs,110,0.3,Rock
4,/10000-maniacs/,Trudging slowly over wet sand. Back to the ben...,ENGLISH,10000 Maniacs,110,0.3,Rock
...,...,...,...,...,...,...,...
200513,/sambo/,I was so high I did not recognize. The fire bu...,ENGLISH,Sambô,71,0.8,Samba
200518,/sambo/,Well sometimes I go out by myself. And I look ...,ENGLISH,Sambô,71,0.8,Samba
200522,/sambo/,Feeling my way through the darkness. Guided by...,ENGLISH,Sambô,71,0.8,Samba
200686,/seu-jorge/,"Don't, don't, that's what you say. Each time t...",ENGLISH,Seu Jorge,106,4.2,Samba
201859,/zeca-pagodinho/,I've been. For almost everything in life. In t...,ENGLISH,Zeca Pagodinho,309,13.2,Samba